openapi: '3.0.0'
servers:
  - url: 'https://api.qred.com/loans/v1'
    description: Live Server
  - url: 'https://sandbox.qred.com/loans/v1'
    description: Sandbox Server
info:
  description: >
    Qred Connect - API Documentation

    ## Introduction

    Qred's Partner API "Qred Connect" allows our partners to directly connect to Qred's services. As a partner you may submit an application and request instant approval for a business loan. Our API allows our partners to integrate Qred's business loan application in a seamless and effortless way.

    ### Technical Specifications

    Notice that for Qred Connect:

      * Qred's APIs are built according to industry standard practices for third-party RESTful web services
      * Strong validation, authentication & encryption
      * Entry points for requests are sent via HTTP over SSL (all information is encrypted)

    ### How to get started

    There are two environments - Test and Production.

      * Sandbox: https://sandbox.qred.com
      * Production: https://api.qred.com

    ## Contact
    
    To get in touch with Qred either send us an email at <partner@qred.com> or call us at [+46 8 474 46 62](tel:4684744662)

    ## Terms of Service
    
    The terms of service will be clarified once you have a partner agreement with Qred.

  version: 0.3.0
  title: Qred Connect
  termsOfService: '#section/Terms-of-Service'
  contact:
    email: techsupport@qred.com
    url: '#section/Contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://static.qred.com/sv-se/bilder/logo-mobile-green.svg'
tags:
- name: applications
  description: Create loan applications on behalf of your customers
